<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Импорт</title>
</head>
<body>
<h1>Импорт завершён</h1>
<p>Обработано строк: {{ rowsCount }}</p>
<p>
    <a href="/">На главную</a> |
    <a href="/flat">К списку</a>
</p>
</body>
</html>