<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Hello, world</title>
    {% block head_bottom %}{% endblock %}
</head>
<body>

{% block body %}{% endblock %}

{% block script %}{% endblock %}
</body>
</html>
